.box{
    position: relative;

}

.container{
    position: relative;
    width: 400px;
    min-height: 650px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form {
    position:relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    
}

.form h2 {
    position:relative;
    color: rgba(255, 255, 255, 0.534);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-top: 30px;


}

.form h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 195px;
    height: 4px;
    background: rgb(255, 255, 255, 0.534);
    opacity: 30%;
}

.form .inputBox{
    width: 100%;
    margin-top: 20px;

}
.form .inputBoxRow{
    width: 100%;
    margin-top: 60px;

}

.form .inputBox input{
  

}

.form .inputBox input::placeholder{
    color: #fff;

}

.form .inputBox input[type="submit"]{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    max-width: 100px;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 190px;
    align-items: center;
    font-weight: 600;}



  .inputtsld{

    font-family:'Poppins', sans-serif;
    font-size: 17px;
    font-weight:500;
    
    color: rgb(255, 255, 255, 0.534);
  }

  .surf{
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight:500;
    color: rgb(255, 255, 255, 0.534);

  }

  .n5Span{
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight:500;
    color: rgb(255, 255, 255, 0.534);
  }


  .mat-tab-group {
    margin-top:auto;
     width: 400px;
     margin-left: 10px;
     
   }

   ::ng-deep .my-select-panel{
       background-color: rgba(255, 255, 255, 0.301);
       
       
   }

   .paneloption{
       color: rgb(0, 0, 0);
       background-color: rgb(211, 211, 211);
   }

   ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:rgb(255, 255, 255);
    
    }

    ::ng-deep .mat-tab-list .mat-tab-label{
        color:rgb(255, 255, 255, 0.534);
    }
    ::ng-deep .mat-ink-bar {
        background-color: var(--primary-color,#d6d6d6) !important;
        }

        ::ng-deep .mat-tab-label:hover{
            color:rgba(0, 0, 0, 0.534);
            background-color:rgb(255, 255, 255) ;
        }

        ::ng-deep .ng5-slider .ng5-slider-pointer {
    
            background-color: #c8c8c850 !important;
            
            font-family: 'Poppins', sans-serif;
            
          }

          ::ng-deep .ng5-slider .ng5-slider-span {
    
            color: #c8c8c8 !important;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 5px;
            
          }

        